.container {
    .date {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 30px;
        box-shadow: 0 56px 63px -14px rgba(0, 0, 0, 0.1);

        span:nth-child(1) {
            font-size: 22px;
        }
        span:nth-child(2) {
            font-size: 28px;
            color: var(--main-app-color);
        }
        span:nth-child(3) {
            font-size: 22px;
        }
    }
    .wrapper {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(36, 1fr);

        .div0 {
            grid-area: 1 / 1 / 2 / 2;
        }
        .div1 {
            grid-area: 1 / 2 / 2 / 7;
        }
        .div2 {
            grid-area: 1 / 7 / 2 / 12;
        }
        .div3 {
            grid-area: 1 / 12 / 2 / 17;
        }
        .div4 {
            grid-area: 1 / 17 / 2 / 22;
        }
        .div5 {
            grid-area: 1 / 22 / 2 / 27;
        }
        .div6 {
            grid-area: 1 / 27 / 2 / 32;
        }
        .div7 {
            grid-area: 1 / 32 / 2 / 37;
        }
    }
}
