.container {
    display: flex;

    .navi {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 14px;
        font-size: 18px;
        transition: all 0.5s;

        span {
            font-size: 20px;
            font-weight: 800;
        }

        &:hover {
            background-color: rgb(31, 31, 31);
        }
    }
    .regularNavi {
        background-color: none;
    }

    .activeNavi {
        background-color: rgb(31, 31, 31);
        color: var(--main-app-color);
    }
}
