.container {
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding: 0 10px;
    position: fixed;
    top: 0;

    .leftStideWrapper {
        display: flex;
        gap: 0;
        align-items: center;
        gap: 10px;

        .nextPrev {
            display: flex;
            div {
                cursor: pointer;
            }
        }
    }

    .rightStideWrapper {
        cursor: pointer;
    }
}
