.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    height: calc(100vh - var(--header-height));

    .months {
        margin-top: 50px;
        grid-area: 1 / 1 / 2 / 10;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .calendar__wrapper {
            .calendar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .calendar__header {
                    span {
                        font-weight: 600;
                        color: var(--main-app-color);
                    }
                }

                .calendar_days__wrapper {
                    border-top: 1px solid grey;
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    gap: 5px;
                    place-self: center;
                    width: 184px;

                    .day_grid__wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .day {
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            transition: all 0.5s;

                            &:hover {
                                background-color: #979797;
                                color: #3a3a3a;
                            }
                        }
                        .dayWe {
                            color: grey;
                        }
                        .dayTd {
                            background-color: black;
                        }
                    }
                }
            }
        }
    }

    .sideBar {
        grid-area: 1 / 10 / 2 / 11;

        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: -28px 0px 28px -5px rgba(0,0,0,0.1);
    }
}
